<div ng-if="selectedgame.id == 1 || selectedgame.id == 5">
    <p>to be implemented</p>
</div>

<div ng-if="selectedgame.id == 2">
  {% include "dataapp/plan/lv.html" %}
</div>

<div ng-if="selectedgame.id == 3">
  {% include "dataapp/plan/bg.html" %}
</div>

<div ng-if="selectedgame.id == 4">
  {% include "dataapp/plan/em.html" %}
</div>
