<div class="row">
  <div class="col-sm-2">
    <h4>Defense</h4>
    <p><img width="96" src="/site_media/static/images/bg/defence.png"></p>
  </div>
  <div class="col-sm-10">
    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Angle</label>
      <div class="col-sm-8">
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.defence_angle" value="<30"> <30
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.defence_angle" value="30 - 60"> 30 - 60
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.defence_angle" value=">60"> >60
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Times</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.defence_times" class="form-control">
          <option value="">----</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="60">60</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Round</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.defence_round" class="form-control">
          <option value="">----</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Total Mins</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.defence_total_mins" class="form-control">
          <option value="">----</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="60">60</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Objectives</label>
      <div class="col-sm-8">
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.defence_objective1" value="Shoulder Adduction"> Shoulder Adduction</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.defence_objective2" value="Shoulder Abduction"> Shoulder Abduction</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.defence_objective3" value="Shoulder Flexion"> Shoulder Flexion</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.defence_objective4" value="Shoulder Extension"> Shoulder Extension</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.defence_objective5" value="Shoulder Internal Rotation"> Shoulder Internal Rotation</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.defence_objective6" value="Shoulder External Rotation"> Shoulder External Rotation</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.defence_objective7" value="Elbow Flexion"> Elbow Flexion</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.defence_objective8" value="Elbow Extension"> Elbow Extension</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.defence_objective9" value="Forearm Pronation"> Forearm Pronation</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.defence_objective10" value="Forearm Supination"> Forearm Supination</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.defence_objective11" value="Wrist Flexion"> Wrist Flexion</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.defence_objective12" value="Wrist Extension"> Wrist Extension</label>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-3">
    <h4>Defense</h4>
    <p><img width="96" src="/site_media/static/images/bg/crossover.png"></p>
  </div>
  <div class="col-sm-9">
    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Angle</label>
      <div class="col-sm-8">
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.crossover_angle" value="<30"> <30
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.crossover_angle" value="30 - 60"> 30 - 60
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.crossover_angle" value=">60"> >60
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Times</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.crossover_times" class="form-control">
          <option value="">----</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="60">60</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Round</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.crossover_round" class="form-control">
          <option value="">----</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Total Mins</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.crossover_total_mins" class="form-control">
          <option value="">----</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="60">60</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Objectives</label>
      <div class="col-sm-8">
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.crossover_objective1" value="Shoulder Adduction"> Shoulder Adduction</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.crossover_objective2" value="Shoulder Abduction"> Shoulder Abduction</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.crossover_objective3" value="Shoulder Flexion"> Shoulder Flexion</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.crossover_objective4" value="Shoulder Extension"> Shoulder Extension</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.crossover_objective5" value="Shoulder Internal Rotation"> Shoulder Internal Rotation</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.crossover_objective6" value="Shoulder External Rotation"> Shoulder External Rotation</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.crossover_objective7" value="Elbow Flexion"> Elbow Flexion</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.crossover_objective8" value="Elbow Extension"> Elbow Extension</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.crossover_objective9" value="Forearm Pronation"> Forearm Pronation</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.crossover_objective10" value="Forearm Supination"> Forearm Supination</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.crossover_objective11" value="Wrist Flexion"> Wrist Flexion</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.crossover_objective12" value="Wrist Extension"> Wrist Extension</label>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <h4>Defense</h4>
    <p><img width="96" src="/site_media/static/images/bg/basicdribbling.png"></p>
  </div>
  <div class="col-sm-9">
    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Angle</label>
      <div class="col-sm-8">
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.basicdribbling_angle" value="<30"> <30
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.basicdribbling_angle" value="30 - 60"> 30 - 60
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.basicdribbling_angle" value=">60"> >60
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Times</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.basicdribbling_times" class="form-control">
          <option value="">----</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="60">60</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Round</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.basicdribbling_round" class="form-control">
          <option value="">----</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Total Mins</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.basicdribbling_total_mins" class="form-control">
          <option value="">----</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="60">60</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Objectives</label>
      <div class="col-sm-8">
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.basicdribbling_objective1" value="Shoulder Adduction"> Shoulder Adduction</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.basicdribbling_objective2" value="Shoulder Abduction"> Shoulder Abduction</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.basicdribbling_objective3" value="Shoulder Flexion"> Shoulder Flexion</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.basicdribbling_objective4" value="Shoulder Extension"> Shoulder Extension</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.basicdribbling_objective5" value="Shoulder Internal Rotation"> Shoulder Internal Rotation</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.basicdribbling_objective6" value="Shoulder External Rotation"> Shoulder External Rotation</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.basicdribbling_objective7" value="Elbow Flexion"> Elbow Flexion</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.basicdribbling_objective8" value="Elbow Extension"> Elbow Extension</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.basicdribbling_objective9" value="Forearm Pronation"> Forearm Pronation</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.basicdribbling_objective10" value="Forearm Supination"> Forearm Supination</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.basicdribbling_objective11" value="Wrist Flexion"> Wrist Flexion</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.basicdribbling_objective12" value="Wrist Extension"> Wrist Extension</label>
      </div>
    </div>
  </div>
</div>




<div class="row">
  <div class="col-sm-3">
    <h4>Defense</h4>
    <p><img width="96" src="/site_media/static/images/bg/advanceddribbling.png"></p>
  </div>
  <div class="col-sm-9">
    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Angle</label>
      <div class="col-sm-8">
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.advanceddribbling_angle" value="<30"> <30
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.advanceddribbling_angle" value="30 - 60"> 30 - 60
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.advanceddribbling_angle" value=">60"> >60
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Times</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.advanceddribbling_times" class="form-control">
          <option value="">----</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="60">60</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Round</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.advanceddribbling_round" class="form-control">
          <option value="">----</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Total Mins</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.advanceddribbling_total_mins" class="form-control">
          <option value="">----</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="60">60</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Objectives</label>
      <div class="col-sm-8">
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.advanceddribbling_objective1" value="Shoulder Adduction"> Shoulder Adduction</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.advanceddribbling_objective2" value="Shoulder Abduction"> Shoulder Abduction</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.advanceddribbling_objective3" value="Shoulder Flexion"> Shoulder Flexion</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.advanceddribbling_objective4" value="Shoulder Extension"> Shoulder Extension</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.advanceddribbling_objective5" value="Shoulder Internal Rotation"> Shoulder Internal Rotation</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.advanceddribbling_objective6" value="Shoulder External Rotation"> Shoulder External Rotation</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.advanceddribbling_objective7" value="Elbow Flexion"> Elbow Flexion</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.advanceddribbling_objective8" value="Elbow Extension"> Elbow Extension</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.advanceddribbling_objective9" value="Forearm Pronation"> Forearm Pronation</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.advanceddribbling_objective10" value="Forearm Supination"> Forearm Supination</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.advanceddribbling_objective11" value="Wrist Flexion"> Wrist Flexion</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.advanceddribbling_objective12" value="Wrist Extension"> Wrist Extension</label>
      </div>
    </div>
  </div>
</div>





<div class="row">
  <div class="col-sm-3">
    <h4>Defense</h4>
    <p><img width="96" src="/site_media/static/images/bg/pass.png"></p>
  </div>
  <div class="col-sm-9">
    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Angle</label>
      <div class="col-sm-8">
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.pass_angle" value="<30"> <30
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.pass_angle" value="30 - 60"> 30 - 60
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.pass_angle" value=">60"> >60
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Times</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.pass_times" class="form-control">
          <option value="">----</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="60">60</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Round</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.pass_round" class="form-control">
          <option value="">----</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Total Mins</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.pass_total_mins" class="form-control">
          <option value="">----</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="60">60</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Objectives</label>
      <div class="col-sm-8">
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.pass_objective1" value="Shoulder Adduction"> Shoulder Adduction</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.pass_objective2" value="Shoulder Abduction"> Shoulder Abduction</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.pass_objective3" value="Shoulder Flexion"> Shoulder Flexion</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.pass_objective4" value="Shoulder Extension"> Shoulder Extension</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.pass_objective5" value="Shoulder Internal Rotation"> Shoulder Internal Rotation</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.pass_objective6" value="Shoulder External Rotation"> Shoulder External Rotation</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.pass_objective7" value="Elbow Flexion"> Elbow Flexion</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.pass_objective8" value="Elbow Extension"> Elbow Extension</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.pass_objective9" value="Forearm Pronation"> Forearm Pronation</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.pass_objective10" value="Forearm Supination"> Forearm Supination</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.pass_objective11" value="Wrist Flexion"> Wrist Flexion</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.pass_objective12" value="Wrist Extension"> Wrist Extension</label>
      </div>
    </div>
  </div>
</div>




<div class="row">
  <div class="col-sm-3">
    <h4>Defense</h4>
    <p><img width="96" src="/site_media/static/images/bg/shoot.png"></p>
  </div>
  <div class="col-sm-9">
    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Angle</label>
      <div class="col-sm-8">
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.shoot_angle" value="<30"> <30
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.shoot_angle" value="30 - 60"> 30 - 60
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.shoot_angle" value=">60"> >60
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Times</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.shoot_times" class="form-control">
          <option value="">----</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="60">60</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Round</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.shoot_round" class="form-control">
          <option value="">----</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Total Mins</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.shoot_total_mins" class="form-control">
          <option value="">----</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="60">60</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Objectives</label>
      <div class="col-sm-8">
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.shoot_objective1" value="Shoulder Adduction"> Shoulder Adduction</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.shoot_objective2" value="Shoulder Abduction"> Shoulder Abduction</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.shoot_objective3" value="Shoulder Flexion"> Shoulder Flexion</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.shoot_objective4" value="Shoulder Extension"> Shoulder Extension</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.shoot_objective5" value="Shoulder Internal Rotation"> Shoulder Internal Rotation</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.shoot_objective6" value="Shoulder External Rotation"> Shoulder External Rotation</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.shoot_objective7" value="Elbow Flexion"> Elbow Flexion</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.shoot_objective8" value="Elbow Extension"> Elbow Extension</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.shoot_objective9" value="Forearm Pronation"> Forearm Pronation</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.shoot_objective10" value="Forearm Supination"> Forearm Supination</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.shoot_objective11" value="Wrist Flexion"> Wrist Flexion</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="editingplan.json.shoot_objective12" value="Wrist Extension"> Wrist Extension</label>
      </div>
    </div>
  </div>
</div>
