    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Types of memory</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.memory_type" class="form-control">
          <option value="">-- choose a type --</option>
          <option value="Time-based memory">Time-based memory</option>
          <option value="Sequence-based memory">Sequence-based memory</option>
          <option value="Event-based memory">Event-based memory</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Training times</label>
      <div class="col-sm-8">
        <input type="text" placeholder="times" class="form-control" ng-model="editingplan.json.times">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Language</label>
      <div class="col-sm-8">
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.language" value="English"> English
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.language" value="Chinese"> Chinese
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Control Hand</label>
      <div class="col-sm-8">
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.hand" value="Left-Handed"> Left-Handed
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.hand" value="Right-Handed"> Right-Handed
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Reminder</label>
      <div class="col-sm-8">
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.reminder" value="On"> On
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.reminder" value="Off"> Off
        </label>
      </div>
    </div>
