<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Play Statistics
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    Actions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Play Details</div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Game UUID</th>
                            <th>Play Time</th>
                            <th>Extra Data</th>
                            <th>Created Date</th>
                            <th>Total Data Records</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{$ $parent.$parent.selected_play.id | number $}</td>
                            <td>{$ $parent.$parent.selected_play.uuid $}</td>
                            <td>{$ $parent.$parent.selected_play.play_time $}</td>
                            <td>{$ $parent.$parent.selected_play.extra_data $}</td>
                            <td>{$ $parent.$parent.selected_play.created | date $}</td>
                            <td>{$ $parent.$parent.$parent.selected_play_records.length $}</td>
                        </tr>
                        </tbody>

                    </table>
                    <!-- /.table-responsive -->

                </div>
                <!-- /.panel inner -->
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <!-- /.col-lg-4 (nested) -->
            <div class="col-lg-12">
                <div> Preproc data:
                    <div id="play_data"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h4>Session Performance</h4>
                        <span class="text-muted">The session prospective memory, absorption, and speed</span>
                        <div id="overall-chart">
                            <svg></svg>
                        </div>
                        <!--<canvas id="correlation_chart" width="400" height="350">
                        </canvas>-->

                    </div>
                </div>

                <hr/>
                <div class="row">
                    <div class="col-lg-12">
                        <h4>Prospective memory</h4>
                        <span class="text-muted">Prospective memory evaluated based on the 3 PM tasks</span>
                        <div id="memoryblock">
                            <svg></svg>
                        </div>
                    </div>
                </div>

                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Comparison . TODO</h3>
                    </div>
                </div>

                <hr/>
                <span class="label label-info">Note</span>
                <ul>
                    <li>Speed: The overall speed of playing. Higher score indicates faster.</li>
                    <li>Prospective Memory:  The ability of prospective memory. Higher score indicates better prospective memory performance.</li>
                    <li>Absorption:  The involvement in the ongoing tasks. Higher score indicates more resource spent on the two main tasks.</li>
                </ul>
            </div><!-- /.col-lg-8 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Data Records</div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Data Type</th>
                            <th>Data Schema</th>
                            <th>Data</th>
                            <th>Created Date</th>
                            <th>Is Checked</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="record in $parent.$parent.$parent.selected_play_records">
                            <td>{$ record.id | number $}</td>
                            <td>{$ record.data_type $}</td>
                            <td>{$ record.data_schema $}</td>
                            <td>{$ record.data $}</td>
                            <td>{$ record.created | date $}</td>
                            <td>{$ record.is_checked $}</td>
                        </tr>
                        </tbody>

                    </table>
                    <!-- /.table-responsive -->

                </div>
                <!-- /.panel inner -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.panel-body -->
</div>
