<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Task Statistics
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    Actions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Task Details</div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Task Name</th>
                            <th>Game ID</th>
                            <th>UUID</th>
                            <th>Description</th>
                            <th>Created Date</th>
                            <th>Order</th>
                            <th>Total Plays</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{$ selected_level.id | number $}</td>
                            <td>{$ selected_level.name $}</td>
                            <td>{$ selected_level.game $}</td>
                            <td>{$ selected_level.uuid $}</td>
                            <td>{$ selected_level.description $}</td>
                            <td>{$ selected_level.created | date $}</td>
                            <td>{$ selected_level.order $}</td>
                            <td>{$ selected_level_plays.length $}</td>
                        </tr>
                        </tbody>

                    </table>
                    <!-- /.table-responsive -->

                </div>
                <!-- /.panel inner -->
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div>
                    Preproc data:
                    <div id="task_data"></div>
                </div>
                <h4>Overall performance</h4>
                <span class="text-muted">Overall performance over time</span>
                <div id="chart1">
                    <svg></svg>
                </div>

                <hr/>
                <h4>Prospective memory</h4>
                <span class="text-muted">Prospective memory over time</span>
                <div id="chart2">
                    <svg></svg>
                </div>
            </div>
            <!-- /.col-lg-8 (nested) -->
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div id="chart3"></div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.panel-body -->
</div>
