{% extends "site_base.html" %}
{% load staticfiles %}

{% block extra_style %}
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-12">

    <a href="https://dl.dropboxusercontent.com/u/800123/lilygames/index.html" target="_blank" class="btn btn-primary btn-lg">View LILY Game Platform APIs</a>
      <h2>API Overview</h2>
      <h4>login a user and get user info</h4>
<pre>
<a href="/rest-auth/login/">/rest-auth/login/</a> - login a user
<a href="/rest-auth/user/">/rest-auth/user/</a> - get username of the current user
<a href="/api/users/player1">/api/users/:username</a> - get user details by username (if the user is a player, we can obtain player_id)
</pre>


      <hr>

      <h4>player info</h4>
      <p>update player info</p>
<pre>
<a href="/api/players/1">/api/players/1</a> - partial update a player
curl -H "Authorization: Token 6d958f521c8a9faf282fb2441f05f14bbc2b48be" --request PATCH -d "address=singapore" http://127.0.0.1:8000/api/players/1
</pre>

      <hr>


      <h4>get game info and the player's data in the game</h4>
<pre>
<a href="/api/games/246635c0-ec73-4fcd-bf67-ad3993892f37">/api/games/:gameuuid</a> - get game and its levels by game-uuid (uuid will be given to the game developer manually)
<a href="/api/players/1/games/246635c0-ec73-4fcd-bf67-ad3993892f37/plans">/api/players/1/games/:gameuuid/plans</a> - get player's plans for this game

<a href="/api/players/1/games/246635c0-ec73-4fcd-bf67-ad3993892f37/feedbacks">/api/players/:playerid/games/:gameuuid/feedbacks</a> - get user feedbacks on game
</pre>

      <hr>


      <h4>create game data</h4>
<pre>
<a href="/api/plays">/api/plays - create player-game-play</a>
curl -H "Authorization: Token 6d958f521c8a9faf282fb2441f05f14bbc2b48be" --data "game_level=80b2246e-6e3e-4dcf-ad41-c3ab0dd948c4&plan=d2e895d5-e558-4c70-ad3c-4eb6f3c963ac" http://127.0.0.1:8000/api/plays

<a href="/api/datarecords">/api/datarecords - create player-game-data-record</a>
curl -H "Authorization: Token 6d958f521c8a9faf282fb2441f05f14bbc2b48be" --data "game_play=a34add0b-fbd5-461e-97a1-cb3289586422&data=hello" http://127.0.0.1:8000/api/datarecords

<a href="/api/feedbacks">/api/feedbacks - create a feedback</a>
curl -H "Authorization: Token 6d958f521c8a9faf282fb2441f05f14bbc2b48be" --data "game=246635c0-ec73-4fcd-bf67-ad3993892f37&rank=2" http://127.0.0.1:8000/api/feedbacks
</pre>

    </div>

  </div>
{% endblock %}


{% block extra_script %}
  <script type="text/javascript">
    vars = {

    }
  </script>
  <script type="text/javascript" src="{% static 'js/blogpost_app.js' %}" charset="utf-8"></script>

  <script>
    // Add the CSRF Token
    var app = angular.module('blogApp'); // Not including a list of dependent modules (2nd parameter to `module`) "re-opens" the module for additional configuration
    app.config(['$httpProvider', function($httpProvider) {
        $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
    }]);

    app.factory('AuthUser', function() {
        return {
            username: "{{ user.username|default:''|escapejs }}"
        }
    });
  </script>

{% endblock %}
